{
    "extends": "airbnb-base",

    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "max-len": [2, 120, 4],
        "no-warning-comments": 1,

        "import/order": [2, { "groups": ["builtin", "external", "internal", "parent", "sibling", "index"], "newlines-between": "always"}],
        "import/newline-after-import": [2],

        "global-require": 0
    }
}
